@model IEnumerable<shopPhone.brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/myStyle.css")


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new {@class = "myBtn" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brand_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_feature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(mo =>mo.updated_at)
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.brand_name
        </td>
        <td>
            @item.description
        </td>
        <td>
            <img src="@item.image_feature" class="imgItem"/>
        </td>
        <td>
            @item.status
        </td>
        <td>
            @item.created_at
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated_at)
        </td>
        <td class="Action" align="center">
            @Html.ActionLink("Edit", "Edit", new { id = item.id_brand }, new { @class = "myBtn", id= @item.id_brand.ToString()}) |
            @Html.ActionLink("Details", "Details", new { id = item.id_brand }, new { @class = "myBtn", id= @item.id_brand.ToString()}) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id_brand }, new { @class = "myBtn", id= @item.id_brand.ToString()})
        </td>
    </tr>
}

</table>
