@model shopPhone.rela_phone_gallery

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/shopLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>rela_phone_gallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gallery.gallery_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gallery.gallery_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone.phone_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone.phone_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
